<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @course.name %></h3>
  </div>
  <div class="panel-body">
    
      Type : <%= @course.course_type %><br/>
      Duration : <%= @course.duration %>
  
  </div>
</div>




<div class="form-group">
 <%#= button_to "Edit", edit_course_path(@course), :class => "btn btn-primary", :method => :get %> 
<%= button_to "Delete", course_path(@course), method: :delete, :class => "btn btn-danger", data: {confirm: "Are you sure?"} %> 

</div>








